n8n-workflows/health-check-automated.json
{
  "name": "Health Check Automated",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "2b9c23fc-0563-4c96-98f4-ea4683b7a9ab",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        256
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8069/web/health",
        "options": {
          "timeout": 100000
        }
      },
      "id": "319498e7-0fd9-4b76-a421-7459b0eb0319",
      "name": "Check Odoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        384,
        128
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "8ad15651-cf35-4813-bfe6-3e137d0fbeb4",
      "name": "Check MCP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        384,
        256
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 as health_check",
        "options": {}
      },
      "id": "9dbc0f03-2510-48f3-8c83-da57c76c06c9",
      "name": "Check Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        384,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "4RCXj6IiTRov0bXO",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f7559715-a7f1-4b78-b00d-a47c1c125061",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3176d6c9-32a6-4601-9fa6-67ebcc7afb04",
      "name": "Alert Required?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        256
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1488,
        416
      ],
      "id": "42de4439-e262-496a-bf13-6807dbe4761a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        848,
        464
      ],
      "id": "baa7c8dd-d67a-45a3-8491-051cd2ecccca",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Jwp0LCLvLts3RUML",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        240
      ],
      "id": "a6697c26-b1cf-46b9-b860-fec2e72e9bbc",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are sys admin, these system health and assess them if needed\n\nodoo :  {{ $json.odoo_connected }}\nmcp : {{ $json.status }}\ndatabase: {{ $json.health_check }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        848,
        256
      ],
      "id": "5ae42ab4-162c-4553-9868-2c25ba253def",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Check Odoo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check MCP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Odoo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check MCP": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check Database": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Alert Required?": {
      "main": [
        [],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Alert Required?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0aace8cf-b326-4b7d-932d-c94901e3a7b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f99673a6157a482ab5363267ed0054492ca2e715028a79e9cef328006f59e3f"
  },
  "id": "aJmuq3JWa6Uo4WQS",
  "tags": []
}